.desc{
    margin: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    align-self: center;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.label{
    display: grid;
    position: sticky;
    top:0px;
    z-index: 2;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(270.54deg, #06BA02 0.66%, rgb(214, 214, 214) 50.66%, #FF5C00 99.28%);
    font-size: 20px;
    align-self: center;
    span{
        text-align: center;
    }
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width:600px){
    .main{
    display: inline-block;
    }
}