
    .header{
        padding-left: 20px;
        padding-right: 20px;
        color: black;
        display: grid;
        overflow: hidden;
        gap: 20px;
        grid-template-columns:  40px 40% auto ;
        height: 70px;
        background: linear-gradient(270.54deg, #06BA02 0.66%, rgb(212, 212, 212) 50.66%, #FF5C00 99.28%);
        .menu{
            width: initial;
            align-self: center;   
            
        }
        .logo{
            display: flex;
           align-self: center;
            span{
               display: inline;
                align-self: center;
                font-size: 30px;
                font-weight: bold;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        .link{
            align-self: center;
            
            span{
                width: initial;
                float: right;
                padding: 5px;
                font-size: 20px;
                cursor: pointer;
            }
            span:hover{
                color:white;
                font-weight: bold;
            }
        }
       
    }
    @media(max-width:600px){
       
        .link{
            display: none !important;
        }
    }
    

