
<div class="mainart" *ngFor=" let article of article">
 
       <span [ngClass]="(width == true)?'heading':'none'"> topic:<h2><a [routerLink]="[article.heading]"> {{article.heading}}</a></h2>
     </span>

        <article class="art">
             <img src="{{article.photo}}" class="image">
             <a (click)="openDialog(this.article.source.link)" class="source">{{article.source.text}}</a>
        
             <div  class="sec2">
               <a (click)="openDialog(this.article.title.link)">{{article.title.text}}</a>
             </div>
             
             <div class="sec3">{{article.information}}</div>
        </article>
        <span [ngClass]="(width == true)?'but':'none'"> <button class="button" [routerLink]="[article.heading]"> view full coverage </button></span>
     <hr> 
</div>
