
<div class="mainart" *ngFor=" let article of article">
 <span id="heading"></span>
 <article class="art">
        
        <img src="{{article.photo}}" class="image">
        <a (click)="openDialog(this.article.source.link)" class="source">{{article.source.text}}</a>
        <div  class="sec2">
        <a (click)="openDialog(this.article.title.link)">{{article.title.text}}</a>
        </div>
        
        <div class="sec3">{{article.information}}</div>
 </article>
 <span></span>
 <hr>
</div>
 